<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465653106785386506/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Terry Smith</strong>
						<small>@MemerDreamer</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465650806830530561/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Mlon Eusk</strong>
						<small>@MemeX</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465651341327466497/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Jay Smith</strong>
						<small>@idk_man</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465657263542239233/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Jackson Pollock</strong>
						<small>@artistpollock</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465654669717536770/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Tiffany Sans</strong>
						<small>@CuteDuck23</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465654529090650122/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>James Politics</strong>
						<small>@CommonSense</small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465656615849295884/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Good Boye</strong>
						<small>@bork</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465670299749449738/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Messy Kitty</strong>
						<small>@yougottobekittenme</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465670441294495745/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Sally Bun</strong>
						<small>@bad_hare_day</small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465670503978369024/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Tony Hop</strong>
						<small>@skt8rbun</small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465685339420491787/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Edgey College Kid</strong>
						<small>@HalpMe_pls</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465685790081417218/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>UrUuu?</strong>
						<small>@frightened_boye</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465686157229817857/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>The True Adult Jim</strong>
						<small>@Adulting_is_2hard</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465686508222021633/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Miss Mittens</strong>
						<small>@Stay_PAWsitive</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465687037605838858/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Thomas Steve</strong>
						<small>@gud_Boyes</small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://cdn.discordapp.com/attachments/294526315942641664/465687281617993738/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Kermit</strong>
						<small>@Kermit_the_Real_Frog</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://media.discordapp.net/attachments/294526315942641664/465687546652000292/unknown.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Jerry Berry</strong>
						<small>@angary</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	
	</nav>
</div>